/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 40px;
  --sidenav-width: 45px;
  --markdown-title-height: 100px;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  @apply text-gray-100 bg-gray-800;
  overscroll-behavior-y: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

textarea {
  resize: none;
}

svg {
  width: 20px;
  height: 20px;
}

.markdownDirSvg {
  width: 15px;
  height: 15px;
}

.header {
  height: var(--header-height);
}

.headerLeft {
  display: flex;
  flex-grow: 1.1;
}

.headerCenter {
  display: flex;
  flex-grow: 3;
}

.headerRight {
  display: flex;
  flex-grow: 0.6;
}

[data-nextjs-scroll-focus-boundary] {
  height: calc(100vh - var(--header-height));
}

.home {
  display: flex !important;
  height: calc(100vh - var(--header-height));
}

.markdownFormWrapper, .markdownForm, .markdownWrapper, .notFound {
  height: calc(100vh - var(--header-height));
}

.markdownTitle {
  height: var(--markdown-title-height);
}

.markdownTextBody {
  height: calc(100vh - var(--header-height) - var(--markdown-title-height));
  width: 100%;
}

.markdownTextarea {
  height: calc(100vh - var(--header-height) - var(--markdown-title-height));
}

.sidenav {
  width: var(--sidenav-width);
}

.homepageWrapper {
  display: flex;
  width: calc(100vw - var(--sidenav-width));
}

.leftSidebarWrapper, .rightSidebarWrapper {
  width: 280px;
}

.leftSidebar, .rightSidebar {
  display: flex;
  flex-direction: column;
  /* flex-grow: 0.75; */
}

.homepageNoFile, .markdownEdit {
  display: flex;
  /* flex-grow: 3; */
  flex-grow: 1;
}